.attribution {
    font-size: 11px;
    text-align: center;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}

* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    height: 800px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 22px;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 0px 25px;
    margin: 0;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding: 0px 30px;
    margin-bottom: 45px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.card_img_container {
    padding: 20px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 320px;
    height: 500px;
}
