* {
    box-sizing: border-box;
}

body {
    font-family: "Outfit", sans-serif;
    background-color: hsl(212, 45%, 89%);
    max-width: 1440px;
    min-height: 100vh;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-size: 1.25rem;
    font-weight: 700;
    color: hsl(218, 44%, 22%);
    text-align: center;
    padding: 30px;
}

p {
    font-weight: 400;
    font-size: 15px;
    color: hsl(220, 15%, 55%);
    text-align: center;
    padding: 30px;
    padding-top: 0px;
}

img {
    width: 100%;
    border-radius: 10px;
}

.card_img_container {
    padding: 20px 20px 10px 20px;
    object-fit: cover;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    width: 320px;
    height: 500px;
}
